#particles-js {
    margin-top: 67px;
    width: 100%;
    max-height: 500px;
    background-color: #011B66;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


/* ---- stats.js ---- */

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}