body{
    font-family: 'Roboto', sans-serif;
}

.botao{
    color: white;
    padding: 10px 22px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 15px;
    text-decoration: none;
}

.margem{
    width: 80%;
    margin: auto;
    position: relative;
}

.header{
    position: fixed;
    top: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
    width: 100%;
    background-color: white;
}

.menu{
    position: absolute;
    color: #011B66;
    display: inline-block;
    margin-top: 10px;
    right: 0;
    top: 0;
    z-index: 10000;
}

.menu li{
    display: inline-block;
    list-style-type: none;
    padding: 16px;
}

.menu li:hover{
    background-color: #011B66;
    border-radius: 5px;
    color: white;
}

.produtos{
    margin-bottom: 30px;
}

.produtos-title{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: #011B66;
}

.produtos-card-auxiliar{
    overflow: auto;
    width: 80%;
    margin: auto;
}

.produtos-card{
    border-radius: 6px;
    border-top: 6px solid;
    margin-left: 15px;
    width: 200px;
    height: 250px;
    padding: 20px;
    box-shadow: 0px 7px 16px #d7e0ea;
    float: left;
}

.produtos-card p{
    text-transform: uppercase;
    color: #212529;
    text-align: center;
    line-height: 1.5;
}

.produtos-card img{
    max-width: 100%;
}

.produto-classecon{
    border-color: #3B308B;
}

.produto-classecon .botao{
    display: inline-block;
    background-color: #009B6E;
    padding: 10px 50px;
    transform: translate(30px, 20px);
}

.produto-classimoveis{
    border-color: #F58220;
}

.produto-classimoveis .botao{
    display: inline-block;
    background-color: #808285;
    padding: 10px 50px;
    transform: translate(30px, 42px);
}

.produto-classvendas{
    border-color: #366B11;
}

.produto-classvendas .botao{
    display: inline-block;
    background-color: #366B11;
    padding: 10px 50px;
    transform: translate(30px, 43px);
}

.produto-classobras{
    border-color: #CC3629
}

.produto-classobras .botao{
    display: inline-block;
    background-color: #CC3629;
    padding: 10px 50px;
    transform: translate(30px, 43px);
}

.pacote-ideia{
    background-image: linear-gradient(to right,#010a27, #0028a0);
    height: 520px;
}

.pacote-ideia-title{
    font-size: 22px;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-weight: normal;
}

.card-pacote-ideia{
    background-color: white;
    width: 700px;
    margin: auto;
    padding: 15px 30px;
    border-radius: 10px;
}

.card-pacote-ideia-paragrafo{
    display: inline-block;
    margin-left: 35%;
    color: #0033ce;
    font-weight: 500;
}

.card-pacote-ideia-desc{
    text-transform: uppercase;
    color: #0033ce;
    font-size: 24px;
    font-weight: 500;
}

.card-pacote-ideia img{
    width: 100px;
    height: 100px;
}

.card-pacote-ideia-valor{
    color: #0033ce;
    font-size: 24px;
    font-weight: 500;
}

.icone-pacote{
    transform: translateX(20px);
}

.col-1-3:nth-child(1) p{
    margin: 0;
}

/*Iniciando GRID*/
.row{
    overflow: auto;
}

.col-1-3{
    margin: 0 1%;
}

.col-1-3:nth-child(1){
    width: 22%;
    float: left;
}

.col-1-3:nth-child(2){
    width: 30%;
    float: left;
}

.col-1-3:nth-child(3){
    width: 40%;
    float: left;
}

/* Fim da GRID */

.col-1-3:nth-child(1){
    transform: translateY(50px);
}

.col-1-3:nth-child(2), .col-1-3:nth-child(3){
    font-size: 12px;
    line-height: 1.5;
}

.col-1-3 i{
    display: inline-block;
    margin-right: 5px;
}

.btn-pacote-ideia{
    display: inline-block;
    background-color: #0028a0;
    transform: translatex(290px);
}